html, body {
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

header {
    background-color: #1e1e2e;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 100%;
}

.header-content img {
    width: 200px;
    height: auto;
}

.header-content h1,
.header-content p {
    margin: 0;
    max-width: 60%;
    color: #f8f8f2;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    color: #f8f8f2;
    font-size: 32px;
    font-weight: bold;
}

.nav-links {
    color: #f8f8f2;
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.footer {
    background-color: #1e1e2e;
    color: #f8f8f2;
    text-align: center;
    padding: 30px;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 17px;
}