html, body {
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

header {
    background-color: #1e1e2e;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.nav-links {
    color: #f8f8f2;
    list-style: none;
    display: flex;
    gap: 30px;
}

.footer {
    background-color: #1e1e2e;
    color: #f8f8f2;
    text-align: center;
    padding: 30px;
}