html, body {
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

header {
    background-color: #1e1e2e;
    height: 250px;
    padding: 20px;
}

.header-content img {
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.logo {
    color: #f8f8f2;
    font-size: 32px;
    font-weight: bold;
}

.nav-links {
    color: #f8f8f2;
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.footer {
    background-color: #1e1e2e;
    color: #f8f8f2;
    text-align: center;
    padding: 30px;
}